

@keyframes fadeIn {
    form{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.main__top__information__logo{
    /* display: none; */
    width: 100%;
    height: 100%;
    background-color: #7d2bf0;
    background-image: linear-gradient(to right  bottom, #7d2bf0, #5bbbd6);
    font-size: 18px;
    line-height: 2;
    border-radius: 12px;
    color: #fff;
    transition: 2s;
    overflow: hidden;
}

.main__top__information__logo__img{
    width: 100%;
    height: 100%;
}

.main__top__information__member{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #7d2bf0;
    background-image: linear-gradient(to right  bottom, #7d2bf0, #5bbbd6);
    font-size: 18px;
    line-height: 2;
    border-radius: 12px;
    color: #fff;
    transition: 2s;
}

.main__top__information__member__title{
    padding-top: 20px;
}

.main__top__information__language{
    display: none;
    width: 100%;
    color: #fff;
    height: 100%;
    background-image: linear-gradient(to right  bottom, #7d2bf0, #5bbbd6);
    font-size: 18px;
    line-height: 2;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
}

.main__top__information__language__title{
    padding-top: 20px;

}

.main__top__information__experience{
    display: none;
    width: 100%;
    color: #fff;
    height: 100%;
    background-image: linear-gradient(to right  bottom, #7d2bf0, #5bbbd6);
    font-size: 18px;
    line-height: 2;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
}

.main__top__information__experience__title{
    padding-top: 20px;
}

.main__top__information__KO{
    display: none;
    width: 100%;
    color: #fff;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(to right  bottom, #7d2bf0, #5bbbd6);
    font-size: 15px;
    line-height: 2;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
}

.main__top__information__KO__title{
    padding-top: 28px;
}

.main__top__information__KO__list{
    
}



.main__top__information__connect{
    display: none;
    width: 100%;
    color: #fff;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(to right  bottom, #7d2bf0, #5bbbd6);
    font-size: 15px;
    line-height: 2;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
}
.main__top__information__connect__title{    
    padding-top: 28px;
}


.main__top__information__member__list{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main__top__information__language__list{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.main__top__information__experience__list{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}







