.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(78, 30, 3);
}
.left__box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background-color: rgb(155, 247, 192);
    border-radius: 35%;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

.left__box:not(:last-child){
    margin-top: 20px;
}

.left__box:hover{
    background-color: rgb(142, 230, 177);

}

.left__box__icon{
    font-size: 18px;
}

.left__box::after{
    position: absolute;
    content: "";
    left: 60px;
    top: 4px;
    width: 4px;
    height: calc(100% - 8px);
    border-radius: 4px;
    transition: .3s;
}

.left__box.active::after{
    background-color: rgb(222, 165, 179);
}



.left__box5{
    margin-top: 148px;
    font-size: 25px;
    border-radius: 35%;
    background-color: rgb(155, 247, 192);
}


/* :checked */
.left__box1:hover::after{
    background-color: rgb(239, 232, 232);

}
.left__box2:hover::after{    
    background-color: rgb(243, 241, 241);
}
.left__box3:hover::after{
    background-color: rgb(239, 232, 232);
}
.left__box4:hover::after{
    background-color: rgb(239, 232, 232);
}
.left__box5:hover::after{
    background-color: rgb(239, 232, 232);
}


